/* -- FONTS -- */
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/Inter-Regular.ttf');
    font-weight: normal;
    font-style: normal;
 }

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/Inter-Medium.ttf');
    font-weight: medium;
    font-style: normal;
 }

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/Inter-SemiBold.ttf');
    font-weight: semibold;
    font-style: normal;
 }

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/Inter-Bold.ttf');
    font-weight: bold;
    font-style: normal;
 }

 @font-face {
    font-family: 'Trap';
    src: url('fonts/Trap/trap-regular.otf');
    font-weight: normal;
    font-style: normal;
 }

/* -- RESETS -- */
*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}

a{
    text-decoration: none;
}

/* -- GLOBAL STYLES -- */
* {
    font-family: 'Inter', sans-serif;
}

h1 {
    margin: 1rem 0;
    font-size: 160%;
}

h2 {
    font-size: 130%;
}

input {
    border: 1px solid gray;
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}

button[type=submit] {
    background-color: #42b983;
    width: 100%;
    padding: 0.75rem;
    color: white;
    font-size: 100%;
    border: none;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}